/* CSS code */

#government {
    background-image: linear-gradient( rgba(15, 63, 173, 0.3), rgba(0, 127, 218, 1)), url(../img/government.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
    text-align: center;
    padding-top: 500px;
    padding-bottom:700px;
    max-width: 100%;
    height: auto;
    display: block;
}

.title-text {
    text-align: center;

}

.image-one {
    border-radius: 8px;
    width: 500px;
    height: auto;
}

.pacs {
    border-radius: 8px;
    width: 500px;
    height: auto;
    text-align: center;
}

.vss {
    border-radius: 8px;
    width: 500px;
    height: auto;
    text-align: center;
}

.title {
    text-align: center;
    position: sticky;
}

.part-a {
    align-content: center;
}

.context {
    text-align: center;
}



.box {
    padding: 35px;
    margin: 70px;
    background-color: #89c2d9;
    border-radius: 10px;
}

.function {
    border-radius: 10px;
}
